Repository sui-foundation/sips, pull requests merged in 2024-11, with the labels that each got.

#39 SIP-39: Lowering the validator set barrier to entry
  sips/sip-39.md
Labels: final

#10 SIP-10: MultiSig Cache Storage
  withdrawn-sips/sip-10.md
Labels: withdrawn

#33 SIP-33: Allow inactive StakedSui objects to be redeemed immediately
  sips/sip-33.md
Labels: final

#11 SIP-11: Action Primitive
  assets/sip-11/3abf633c880ffad1a9e2fbe4c1bee468d6f05c7e.svg
  assets/sip-11/a88232ec77b1beeb2355605c4040bc6f9e8455e9.svg
  assets/sip-11/e0124dc82ddc5512f710f9df1be0cd08bf10711a.svg
  withdrawn-sips/sip-11.md
Labels: withdrawn

#16 SIP-16: Add more tx_context
  withdrawn-sips/sip-16.md
Labels: withdrawn

#34 SIP-34: Add FanTV as a zkLogin OpenID provider
  sips/sip-34.md
Labels: active
